---
import Layout from "../layouts/Layout.astro";
import { games } from "../data/games.js";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Kat's Korner">
  <body>
    <p class="text-xl">Welcome to Astro!</p>
    <ul class="space-y-4">
      <li><a href="/posts/post-1/">Post 1</a></li>
    </ul>
  </body>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-9 max-w-5xl mx-auto">
    {
      games.map((game) => (
        <a href={`/games/${game.slug}`} class="group block">
          <div class="bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl overflow-hidden transition-all hover:scale-[1.02] hover:bg-white/10 shadow-xl">
            <img
              src={game.previewImage}
              alt={game.title}
              class="w-full aspect-video object-cover"
            />

            <div class="p-6">
              <h2 class="text-2xl font-sans text-rose-300 group-hover:text-rose-200">
                {game.title}
              </h2>
              <p class="text-white/60 mt-2">{game.description}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
